/* Container หลัก เพื่อจัดให้อยู่ตรงกลางทั้งแนวนอนและแนวตั้ง */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center; /* ทำให้ container มีความสูงเต็มจอ */
  width: 100%; /* ขยายเต็มความกว้างของหน้าจอ */
}

/* Logo container ที่จะปรับขนาดตามหน้าจอ */
.logo-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 800%; /* ขนาดเริ่มต้นเต็มที่ */
  max-width: 800px; /* กำหนดขนาดสูงสุดของโลโก้ */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container.fade-in {
  opacity: 1;
}

.solid-logo {
  width: 100%; /* ให้ภาพทึบปรับตามขนาดของ .logo-container */
  height: auto;
  opacity: 0;
  transition: opacity 4s ease-in-out 4s;
}

.solid-logo.fade-in-delay {
  opacity: 1;
}

.svg-container {
  width: 100%; /* ให้ SVG ปรับตามขนาดของ .logo-container */
  height: auto;
}

/* การเคลื่อนไหวของ path ของ SVG */
@keyframes draw {
  from {
    stroke-dasharray: 0, 100;
  }
  to {
    stroke-dasharray: 100, 0;
  }
}

.svg-container path {
  stroke: #000; /* สีของเส้นขอบ */
  stroke-width: 2px;
  stroke-dasharray: 0, 100;
  animation: draw 20s ease forwards;
}

.svg-container path.draw-outline {
  animation: draw 20s ease forwards;
}
